trunk/Booking/Service References/PaymentService_ws/PaymentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MovieBooking.Model.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MovieBooking.Model.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mb_Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardExpiry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardHolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GSTPercent" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MovieBookingID" type="xs:int" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentModeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mb_Payment" nillable="true" type="tns:mb_Payment" />
</xs:schema>