trunk/Maintenance/Service References/HallListService/HallListService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MovieBooking.Model.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MovieBooking.Model.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="mb_Hall">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="HallName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="TheatreID" type="xs:int" />
      <xs:element minOccurs="0" name="TotalSeats" type="xs:int" />
      <xs:element minOccurs="0" name="_theatreID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="mb_Hall" nillable="true" type="tns:mb_Hall" />
</xs:schema>