trunk/Maintenance/Service References/HallListService/HallListService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MovieBooking.SI.Web/HallListService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieBooking.SI.Web" />
  <xs:element name="GetHallList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHallListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MovieBooking.SI.Web" minOccurs="0" name="GetHallListResult" nillable="true" type="q1:ArrayOfHall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>