trunk/Maintenance/Service References/MovieDetService/MovieDetailService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MovieBooking.SI.Web/MovieDetailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieBooking.SI.Web" />
  <xs:element name="GetMovieDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MovieBooking.SI.Web" minOccurs="0" name="GetMovieDetailsResult" nillable="true" type="q1:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>